/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/

/* 
    main 
*/

.container{
    margin: 0 auto;
    max-width: 1200px;
}

/* 
    debug 
*/

.debug, .hader-container{
    background-color: rgb(208, 243, 255);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangebar{
    background-color: orange;
    display: flex;
    border: 1px dashed black;
    width: 75%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}