/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/
.border, .orangebar, .logo, .link, .login{
    border: 1px dashed black;
}

/* 
    main 
*/

.container{
    margin: 0 auto;
    max-width: 1200px;
}

/* 
    debug 
*/

.debug, .hader-container{
    background-color: rgb(208, 243, 255);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangebar{
    background-color: orange;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 25%;
}

.link{
    width: 50%;
    display: flex;
    justify-content: center;
}

.login{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}